.resume-container {
    background-color: rgba(189, 251, 4);
    color: black;
   
    font-family: Arial, sans-serif;
    text-align: center; 
  }
  
  .resume-header {
    text-align: center; 
  }
  
  .resume-section {
   
    text-align: center; 
  }
  
  .resume-section h2 {
    font-size: 18px;
    
    text-align: center; 
  }
  
  .resume-section ul {
    list-style-type: square;
    padding-left: 20px;
    text-align: center; 
  }
  
  .resume-section p,
  .resume-section li {
    text-align: center; 
  }
  